<h1>My Notes </h1>

<!--<li *ngFor='let note of notes'>
    <span> {{note.title}} </span>
</li>-->
<p *ngIf="!notes"><em>Loading...</em></p>
<p>
    <button (click)="gotoNoteCreate()">  Create New  </button>
</p>

<div class="card-deck-wrapper">
    <div class="card-deck">
       <div class="card" *ngFor="let note of notes">
           <div class="card-block">
               <table style="width:100%">
                   <tr>
                       <th width="60%"><a class="card-title">{{note.title}}</a></th>
                       <th>Edit</th>
                       <th>Delete</th>
               </table>
               <p class="card-text">{{note.content}}</p>
               <p class="card-text"><small class="text-muted"></small></p>
           </div>
        </div>
    </div>
</div>