<h2> Nowy Film </h2>

<div>
    <ul>
        
    <li><label>Tytuł</label><input type="text" [(ngModel)]="movie.title" required/></li>
    <li><label>Rok</label><input type="number" [(ngModel)]="movie.year" max="2017" min="1900" value="2000"/></li>
    <li><button (click)='addMovie()'> Dodaj </button>
    </ul>
</div>

<h1>My Movies </h1>


<p *ngIf="!movies"><em>Loading...</em></p>

<div class="card-deck-wrapper">
    <div class="row">
    <div class="card-deck">
       
       <div class="card" *ngFor="let movie of movies">
            <div class="col-md-4">
           <div class="card-block">
               <table style="width:100%">
                   <tr>
                       <th width="60%"><a [routerLink]="['/movie-detail',movie.id]" class="card-title">{{movie.title}} </a></th>
                       <!--<th>Edit</th>-->
                       <button (click)='deleteMovie(movie)'> Delete </button>
               </table>
               <p class="card-text">{{movie.year}}</p>
               <p class="card-text"><small class="text-muted"></small></p>
           </div>
           </div>
        </div>
    </div>
    </div>
</div>