@import 'material-components-web';

/*Variables*/

$mainTextColor: #ffffff;
$mainBackGroundColor: #00b3ee;
 
.my-span {
  background-color: $mainBackGroundColor;
  color: $mainTextColor;
}
/*Nesting*/
$my-div-width: 100%;
$mainH2TextColor: #0b97c4;
.my-div {
  width: $my-div-width;
  h2 {
    color: $mainH2TextColor;
  }
}
/*Extends*/
.input-text {
  border-radius: 2px;
  border: 2px solid #ddd;
  color: #555;
  font-size: 20px;
  padding: 5px 12px;
  display: inline-block;
  outline: 0;
}
.input-text-success {
  @extend .input-text;
  border:4px solid #7be500;
}